DB_HOST=x.x.x.x
DB_PORT=<change to your db port>
DB_DATABASE=<change to your db name>
DB_USERNAME=<change to your db username>
DB_PASSWORD=<change to your db password>

PORT=<change to your backend port>
JWT_SECRET=<add your own jwt>